*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 35% 50%;
}

nav{
    /* background-color: crimson; */
    #nav1{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        #nav-part1{
            display: flex;
            gap: 2px;
            div{
                height: 20px;
                width: 20px;
                background-color: black;
                border-radius: 50%;
            }
        }

        #nav-part2{
            display: flex;
            gap: 20px;
            h3{
                font-size: 15px;
                font-weight: 100;
                color: rgba(0, 0, 0, 0.7);
                span{
                    color: grey;
                }
            }
        }
    }

    #nav2{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        padding: 0 30px;
        gap: 50px;
            h3{
                font-size: 15px;
                font-weight: 100;
                color: rgba(0, 0, 0, 0.7);
            }
    }
}

#text-container{
    /* background-color: skyblue; */
    display: flex;
    align-items: center;
    gap: 50%;
    padding: 0 20%;
    overflow-x: auto;
    .text-content{
        flex-shrink: 0;
        /* background-color: aqua; */
        h1{
            font-size: 10vw;
            font-weight: 100;
            padding: 0 70px;
        }
        h2{
            font-size: 20px;
            display: flex;
            gap: 50px;
        }
        span{
            color: grey;
            font-size: 18px;
            font-weight: 100;
        }
    }
}

#text-container::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}

#text-container::-webkit-scrollbar-thumb{
    background-color: orangered;
}

#image-container{
    background-color: seagreen;
    display: flex;
    overflow-x: auto;
    img{
        height: 100%;
        width: 100%;
        flex-shrink: 0;
        object-fit: cover;
    }
}

#image-container::-webkit-scrollbar{
    display: none;
}